header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  padding: 10px 25px;
  background-color: white;
  margin: auto;
}

.header-logo {
  max-width: 180px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.header-logo:hover {
  transform: scale(1.08);
}

@media (max-width: 480px) {
  .header-logo {
    max-width: 120px;
  }
}
